<div>
  <div class="md:flex md:justify-between">
    <h1>Employee List</h1>

    <div class="flex items-center md:gap-3 justify-between">
      <input
        type="text"
        placeholder="search employee"
        (input)="onInput($event)"
      />
      <button
        class="border border-black py-2 px-4 rounded-[8px]"
        [routerLink]="'add-edit-employee'"
      >
        Add Employee
      </button>
    </div>
  </div>

  <div class="example-table-container mt-6">
    <ng-container *ngIf="employeeList.length > 0; else noEmployeeMessage">
      <table
        mat-table
        [dataSource]="employeeList"
        class="example-table"
        matSort
        matSortActive="created"
        matSortDisableClear
        matSortDirection="desc"
      >
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let row">{{ row.id }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let row">{{ row.employee_name }}</td>
        </ng-container>

        <ng-container matColumnDef="salary">
          <th mat-header-cell *matHeaderCellDef>Salary</th>
          <td mat-cell *matCellDef="let row">{{ row.employee_salary }}</td>
        </ng-container>

        <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef>Age</th>
          <td mat-cell *matCellDef="let row">{{ row.employee_age }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let row">
            <div class="flex gap-4">
              <mat-icon
                class="cursor-pointer"
                (click)="onEditEmployee($event, row)"
                >edit</mat-icon
              >
              <mat-icon
                class="cursor-pointer"
                (click)="onDeleteEmployee($event, row)"
                >delete</mat-icon
              >
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          class="cursor-pointer"
          (click)="showEmployeeDetails(row)"
        ></tr>
      </table>
    </ng-container>

    <ng-template #noEmployeeMessage>
      <div class="no-employee-message">
        No employee added, please add employee
      </div>
    </ng-template>
  </div>
</div>
